{% extends "base.html" %}
{% load custom_markdown %}

{% block content %}
<p>{{ post.title }}</p>

                    <p>
                        Time: <a class="post-author" href="#">{{ post.date_time|date:'Y /m /d'}}</a>&nbsp&nbsp

                        Category:
                        <a class="post-category post-category-pure"

                           href="{% url 'search_tag' tag=post.category %}">

                        {{ post.category }}</a>&nbsp&nbsp
                        Tag:
                          {% for tag in tags %}
                            <a class="post-category post-category-pure" href="#">{{ tag }}</a>
                          {% endfor %}
                    </p>

                <div class="post-description">
                    <p>
                        {{ post.content|custom_markdown }}
                    </p>
                </div>
        {% include "duoshuo.html" %}
</div><!-- /.blog-post -->
{% endblock %}  