<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



<div id="article_content" class="article_content tracking-ad" data-mod=popu_307  data-dsm = "post" >
<blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;"><h1>


<span sizcache="1" sizset="37"><span sizcache="1" sizset="37" style="font-size: 16px;"><span sizcache="1" sizset="37"><span style="font-family: 'Microsoft YaHei';"><span style="color: rgb(102, 0, 204); white-space: pre;">	</span><span style="color: rgb(0, 153, 0);"><span style="color: rgb(48, 160, 222);"><span style="white-space:pre">	</span>文章作者：</span><a target=_blank target="_blank" href="http://actanble.github.io" style="color: rgb(202, 0, 0);text-decoration: underline">actanble</a></span> &nbsp;&nbsp;&nbsp;&nbsp;邮箱：&nbsp;</span></span><span style="color: rgb(0, 153, 0);"><a target=_blank target="_blank" href="mailto:actanble@163.com" style="color: rgb(202, 0, 0); text-decoration: none;"><span style="font-family: 'Microsoft YaHei';">actanble@163.com</span></a><span style="font-family: 'Microsoft YaHei';">&nbsp;&nbsp;</span></span></span></span><div><span style="font-family:Microsoft YaHei;font-size:14px;"></span></div>


<span sizcache="1" sizset="40"><span sizcache="1" sizset="37" style="font-size: 15px;"><span sizcache="1" sizset="37"><span style="font-family: 'Microsoft YaHei';"><span style="color: rgb(112, 0, 204); white-space: pre;">	</span><span style="color: rgb(110, 133, 101);"><span style="color: rgb(148, 150, 242);"><span style="white-space:pre">	</span>个人主页：</span><a target=_blank target="_blank" href="http://www.aljs.pw" style="color: rgb(202, 0, 0);text-decoration: underline"> http://www.aljs.pw </a></span> &nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family: 'Microsoft YaHei';">&nbsp;&nbsp;</span></span></span></span>
</h1><div><span style="font-family:Microsoft YaHei;font-size:14px;"><br /></span></div>


</div>


<script type="text/JavaScript">
      <!--
        var duration = 10000;
        var timer = null;
        var endTime = new Date().getTime() + duration;
        function interval() {
            var n = (endTime - new Date().getTime()) / 1000;
            if (n < 0) return;
            document.getElementById("timeout").innerHTML = n.toFixed(0);
            setTimeout(interval, 10);
        }
        function stopJump() {
            clearTimeout(timer);
            document.getElementById("jumphint").style.display = "none";
        }
        window.onload = function() {
            timer = setTimeout("window.location.href='index.aspx'", duration);
            interval();
        }
      //-->
      </script>

 

 

 <div>

   <span id="jumphint">系统在 <span id="timeout"></span> 秒后 将自动</span>  //放在body中需要显示的地方

</div>

</body>
</html>