<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

<script type="text/javascript" async="" src="../static/js/agp_heat.js"></script>
<script type="text/javascript" async="" src="../static/js/index_004.js"></script>
<script type="text/javascript" async="" src="../static/js/inner.js"></script>
<link rel="stylesheet" href="../static/css/entry.css" charset="utf-8">
<link rel="stylesheet" href="../static/css/foot.css" charset="utf-8">
<link rel="stylesheet" href="../static/css/inner.css" charset="utf-8">

<script src="../static/js/index_003.js" id="femTrackerSdk"></script><script src="../static/js/entry.js" id="anywhere-sdk" charset="utf-8"></script>


<script>/* 2017-04-13 14:04:55 */
	src = "../static/js/safe.js"
</script>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
        <meta name="data-spm" content="a219a">
        <title>淘宝开放平台 - </title>
        <link rel="shortcut icon" href="http://img.alicdn.com/favicon.ico" type="image/x-icon">
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="../static/css/sui.css">
        <link href="../static/css/bootstrap.css" rel="stylesheet">
        <link rel="stylesheet" href="../static/css/framework.css">
        <link rel="stylesheet" href="../static/css/font_1429753170_0792055.css" type="text/css" charset="utf-8">
        <script src="../static/js/jquery.js"></script>
        <script src="../static/js/sui.js"></script>
        <script src="../static/js/framework.js"></script>
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <link rel="stylesheet" href="../static/css/index.css">
	<link rel="stylesheet" type="text/css" id="SL_Style" href="../static/css/translator.css">
	<script src="../static/js/index_002.js"></script>
	<script src="../static/js/index.js"></script>
	
	
</head>

	
<body data-spm="7386653">
	<script id="tb-beacon-aplus" src="../static/js/aplus_v2.js" exparams="category=&amp;userid=&amp;aplus&amp;yunid=&amp;asid=AQAAAADRtS9ZkHJkJwAAAADYzqQLCZm7/w=="></script>
	
<div class="openplatform-nav openplatform-nav-simple " data-spm="1">
<div class="container-fluid">
    <div class="logo-container">
        <h1>
            <a href="http://i.roothan.com/">淘宝开放平台</a>
        </h1>
    </div>
<div class="top-openplatform-nav pull-left">



<ul>
    <li>
        <a href="http://open.taobao.com/solutions.htm" title="">解决方案</a>
    </li>
    <li><a href="#" title="">开放版图 </a>
            <style>

.openplatform-nav .top-openplatform-nav ul li .sub-nav dl dt a {
      color: #5eb5fe;
  }
</style>
<div class="sub-nav">
                  <ul> 
                      <li>
                      <dl>
                        <dt><a href="http://open.taobao.com/business.htm?cid=1" title="" target="_blank"><i class="open-iconfont open-portal-icon-icon15"></i>手淘无线</a></dt>
                        <dd><a href="http://open.m.taobao.com/" title="" target="_blank">手淘无线开放</a></dd>              
                        <dd><a href="http://baichuan.taobao.com/" title="" target="_blank">百川无线开放</a></dd>
                      </dl>
                      </li>
                      <li>
                      <dl>
                          <dt><a href="http://open.taobao.com/business.htm?cid=2" title="" target="_blank"><i class="open-iconfont open-portal-icon-icon17"></i>电商后台</a></dt>
                          <dd><a href="http://open.taobao.com/business.htm?cid=11" title="" target="_blank">第三方IT工具</a></dd>
                          <dd><a href="http://open.taobao.com/businessDetail.htm?tagId=1" title="" target="_blank">商家后台系统</a></dd>                      
                          <dd><a href="http://open.taobao.com/businessDetail.htm?tagId=57" title="" target="_blank">仓储管理系统</a></dd>                       
                      </dl>
                      <dl>
                        	<dt></dt>
                          <dd><a href="http://open.taobao.com/businessDetail.htm?tagId=55" title="" target="_blank">国际商家后台系统</a></dd>                        
                          <dd><a href="http://open.taobao.com/business.htm?cid=10" title="" target="_blank">阿里旅行业务管理</a></dd>                     
                          <dd><a href="http://open.taobao.com/doc/detail.htm?id=101586" title="" target="_blank">服务商后台系统</a></dd>                  
                      </dl>
                      </li>
                      <li>
                      <dl>
                        <dt><a href="http://open.taobao.com/business.htm?cid=3" title="" target="_blank"><i class="open-iconfont open-portal-icon-icon11"></i>千牛插件</a></dt>
                          <dd><a href="http://qianniu.taobao.com/" title="" target="_blank">千牛开放业务</a></dd>
                      </dl>
                      </li>
                      <li>
                      <dl>
                        <dt><a href="http://open.taobao.com/business.htm?cid=4" title="" target="_blank"><i class="open-iconfont open-portal-icon-icon12"></i>其他</a></dt>
                          <dd><a href="http://click.aliyun.com/m/2931/" title="" target="_blank">阿里大于</a></dd>                        
                        <dd><a href="http://open.aliplay.com/" title="" target="_blank">TVOS游戏应用</a></dd>
                        <dd><a href="http://lbs.amap.com/" title="" target="_blank">LBS开放平台</a></dd>
                        <dd><a href="http://club.alimama.com/read.php?tid=6306396&amp;ds=1&amp;page=1&amp;toread=1#tpc" title="" target="_blank">淘宝客-网站</a></dd>
                      </dl>
                      </li>
                  </ul>
              </div>
    </li>
    <li><a title="">文档中心 </a>
      <div class="sub-nav" style="width: 102px; left: 0px; padding: 0px 4px; display: none;">
          <ul> 
              <li>
              <dl>
              	<dd><a href="http://open.taobao.com/docs/doc_index.htm" title="">文档首页</a></dd>
                <dd><a href="http://open.taobao.com/docs/api_list.htm" title="">API文档</a></dd>              
                <dd><a href="http://open.taobao.com/docs/topic_list.htm" title="">消息文档</a></dd>
              </dl>
              </li>
          </ul>
      </div>
    </li>
	 <li><a href="#" title="">开发者服务 </a>
      <div class="sub-nav" style="width:102px;left:0px;padding: 0px 4px 0px 4px;">
          <ul> 
              <li>
              <dl>
              	<dd><a href="http://open.taobao.com/support/index.htm">支持中心</a></dd>
                <dd style="position: relative;"><a href="http://open.taobao.com/docs/doc.htm?treeId=231&amp;articleId=105496&amp;docType=1">沙箱</a>
                	<img src="../static/T1pvSHFw4XXXaQCJ2X-23-9.png" style="position: absolute;top: 16px;left: 60px;">
                </dd>
                <dd><a href="http://open.bbs.taobao.com/">开发者论坛</a></dd>              
              </dl>
              </li>
          </ul>
      </div>
    </li>
    <li><a href="http://xue.open.taobao.com/video/index.htm" target="_blank">开发者学院</a></li>
  	<li><a href="http://my.open.taobao.com/" title="">控制台</a></li>
</ul>
</div>
    <div class="pull-right">
        <div class="person-container">
                            <span>
                  <a href="https://login.taobao.com/member/login.jhtml?f=top&amp;sub=true&amp;redirectURL=http%3A%2F%2Fopen.taobao.com%2F" title="" id="open-login">登录</a>
              </span>
                    </div>
        
        <div class="search-container">
            <div class="inner">
                <input class="J_openType" value="all" type="hidden">
                <input style="width:68px;" id="J_openAutoComp" autocomplete="off" type="text">
                <label for="J_openAutoComp">
                    <i class="open-iconfont open-portal-icon-sousuo"></i>
                </label>
                <i class="open-iconfont open-portal-icon-chahao J_CloseSearch"></i>
                <ul class="sui-dropdown-menu sui-suggestion-container" style="position: absolute; display: none; width: 270px; max-height: 300px; z-index: 9999;"></ul><ul class="sui-dropdown-menu sui-suggestion-container" style="position: absolute; display: none; width: 270px; max-height: 300px; z-index: 9999;"></ul></div>
        </div>
    </div>
</div>
</div>

<div class="slide" id="myCarousel" data-ride="carousel" data-interval="4000" data-spm="2">
    <ol class="carousel-indicators hide">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>

    </ol>
    <ul class="carousel-inner">
         <li class="item active"><a href="http://open.taobao.com/docs/doc_index.htm" target="_blank"><img src="../static/img/TB1.jpg" alt="解决方案" width="" height=""></a></li>
<!--
<li class="item active"><a href = "//survey.taobao.com/survey/kwswi9ACQ" target = "_blank"><img src="// img.alicdn.com/tfs/TB11CC7QXXXXXaRapXXXXXXXXXX-1920-665.jpg " width="" height="" alt="平台问卷调研" /></a></li>
        <li class="item active"><a href = "//open.taobao.com/solutions.htm" target = "_blank"><img src="//img.alicdn.com/tps/TB1.xoALFXXXXahXpXXXXXXXXXX-1920-665.jpg" width="" height="" alt="解决方案" /></a></li>
        <li class="item"><a href = "//xue.open.taobao.com/video/index.htm" target = "_blank"><img src="//img.alicdn.com/tps/TB1WrGQNVXXXXbPXpXXXXXXXXXX-1920-665.jpg" width="" height="" alt="学院" /></a></li>
        <li class="item"><a href = "https://open.alipay.com/platform/home.htm" target = "_blank"><img src="//img.alicdn.com/tfs/TB139pmQpXXXXbGXVXXXXXXXXXX-1920-665.jpg" width="" height="" alt="支付宝开放平台" /></a></li>-->
     
    </ul>
    <a href="#myCarousel" data-slide="prev" class="carousel-control left">?</a>
    <a href="#myCarousel" data-slide="next" class="carousel-control right">?</a>
</div>
<div class="page-tips" data-spm="3">
    <div class="msg-con container-fluid">
        <i class="open-iconfont open-portal-icon-gonggao"></i>
        
        <a target="_blank" href="http://open.taobao.com/support/announcement_detail.htm?spm=a1zac.8214421.c3.6.qTBAXi&amp;id=25141&amp;platform_id=2">聚石塔华东1地域可用区B部分ECS服务器IO HANG恢复通报 <i class="icon-new"></i> </a>
        
        <a target="_blank" href="http://open.taobao.com/docs/doc.htm?spm=a219a.7386781.3.14.LwsNtm&amp;docType=1&amp;articleId=104559&amp;treeId=23">开放平台技术服务费规则 <i class="icon-new"></i> </a>
        
        <a target="_blank" href="http://open.taobao.com/support/announcement_detail.htm?id=25057">[公告]退款接口变更公告 <i class="icon-new"></i> </a>
        
        <a target="_blank" href="http://open.taobao.com/support/announcement_detail.htm?id=25066&amp;platform_id=1">流量钱包佣金分成活动开启公告 <i class="icon-new"></i> </a>
        
        <a href="http://open.taobao.com/support/announcement_detail.htm" title="" class="read-more">查看更多</a>
    </div>
</div>
<div class="container-fluid" data-spm="4">
    <div class="row cols-1">
        <div class="col-md-3">
            <a href="http://open.taobao.com/business.htm?cid=1" title="">
                <!--                     <i class="open-iconfont open-portal-icon-icon2"></i>-->
                <img class="shoutao" src="../static/TB1B0z1LFXXXXcZXVXXXXXXXXXX-178-112.png" style="
    width: 135px;
    height：85px

">

                <h4>手淘无线</h4>
                <p>分享三亿月活跃用户、移动云基础设施，以及丰富的API、SDK组件等</p>
            </a>
        </div>
        <div class="col-md-3">
            <a href="http://open.taobao.com/business.htm?cid=2" title="">
                <!--                        <i class="open-iconfont open-portal-icon-icon4"></i>-->

                <img class="dianshang" src="../static/TB15u_0LFXXXXc8XVXXXXXXXXXX-178-112.png" style="
    width: 135px;
    height：85px

">

                <h4>电商后台</h4>
                <p>服务千亿美元级市场的商家，为电商业务管理提供系统支持</p>
            </a>
        </div>
        <div class="col-md-3">
            <a href="http://open.taobao.com/businessDetail.htm?tagId=79" title="">
                <!--                       <i class="open-iconfont open-portal-icon-icon1"></i>-->

                <img class="qianniu" src="../static/TB1.png" style="
    width: 135px;
    height：85px
">
                <h4>千牛插件</h4>
                <p>基于千万级卖家的千牛开放，向商家提供丰富的业务经营工具，打造千牛工作台</p>
            </a>
        </div>
        <div class="col-md-3">
            <a href="http://open.taobao.com/business.htm?cid=4" title="">
                <!--                       <i class="open-iconfont open-portal-icon-icon3"></i>-->

                <img class="gengduo" src="../static/TB1QU.png" style="
    width: 135px;
    height：85px

">
                <h4>更多业务</h4>
                <p>了解其他的淘宝开放业务</p>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="bottom-item">
                新业务&amp;机会推荐:
                <span><i class="">New</i><a href="http://open.yunos.com/" title="" target="_blank">CloudCard开放</a></span>
                <span><i class="">Hot</i><a href="http://baichuan.taobao.com/" title="" target="_blank">阿里百川</a></span>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

</div> <!-- fluid end-->

<div class="open-portal-wrapper has-background-1 active" data-spm="5" style="background-image: url(../static/img/TB1LVdGHFXXXXcgaXXXUUrDLVXX-1920-771.jpg)">
    <div class="container-fluid">
        <h3>优势能力</h3>
        <div class="row cols-2">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <ul class="J_Slider">
                    <li class="active">
                        <a href="###" title="">
                            <i class="open-iconfont open-portal-icon-icon5"></i>
                                <span class="ui-radius">
                                    业务深度开放
                                </span>
                        </a>
                    </li>
                    <li>
                        <a href="###" title="">
                            <i class="open-iconfont open-portal-icon-phone"></i>
                                <span class="ui-radius">
                                移动化支持
                                </span>
                        </a>
                    </li>
                    <li>
                        <a href="###" title="">
                            <i class="open-iconfont open-portal-icon-qiandai"></i>
                                <span class="ui-radius">
                                盈利模式清晰
                                </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row cols-2">
            <div class="J_Slider-content">
                <div class="col-md-6">
                    <div class="news-list">
                        
                        <p><span>开放1000余个API，覆盖电商、支付、LBS、数字娱乐、广告、健康等能力}</span></p>
                        
                        <p><span>开放淘宝账号授权，链接超过3亿月活跃用户的强大购买力}</span></p>
                        
                        <p><span>开放电商管理能力，支撑1000亿美元级市场的商家IT管理需求}</span></p>
                        
                        <p><span>开放云能力，基于PC/无线业务提供差异化方案}</span></p>
                        
                    </div>
                </div>
                <div class="col-md-6">
                        <span class="img-container">
                            <img src="../static/TB1z00xHFXXXXaRXFXXiEo_FVXX-455-226.png" alt="" width="" height="">
                        </span>
                </div>
            </div>
            <!--slide content end-->
            <div class="J_Slider-content hidden">
                <div class="col-md-6">
                    <div class="news-list">
                        
                        <p><span>多端支持，覆盖智能手机,TvOS,车载平台等多个移动平台}</span></p>
                        
                        <p><span>移动端SDK开放，实现电商导购、社区、账号绑定、支付等业务闭环}</span></p>
                        
                        <p><span>真机测试服务开放，支持移动应用开发者快速低成本地调试}</span></p>
                        
                        <p><span>全面支持移动创业，提供免费云资源、创业基础以及投资渠道等资源}</span></p>
                        

                    </div>
                </div>
                <div class="col-md-6">
                        <span class="img-container">
                            <img src="../static/TB1XkyxHFXXXXc3XpXXwTxfGXXX-455-269.png" alt="" width="" height="">
                        </span>
                </div>
            </div>
            <!--slide content end-->
            <div class="J_Slider-content hidden">
                <div class="col-md-6">
                    <div class="news-list">
                        
                        <p><span>基于电商服务市场，为合作伙伴基于电商管理服务提供变现渠道}</span></p>
                        
                        <p><span>基于阿里妈妈广告平台，为合作伙伴提供多元的盈利模式，最大化商业价值}</span></p>
                        
                    </div>
                </div>
                <div class="col-md-6">
                        <span class="img-container">
                            <img src="../static/TB1FoNyHFXXXXbLXpXXwTxfGXXX-455-269.png" alt="" width="" height="">
                        </span>
                </div>
            </div>
            <!--slide content end-->
        </div>
    </div>
</div>

<div class="open-portal-wrapper tech-area" data-spm="6">
    <div class="container-fluid">
        <h3><!--<i class="open-iconfont open-portal-icon-tools"></i>-->技术能力</h3>
        <div class="row cols-3">
            <div class="col-md-12">
                <p>
                    日支撑百亿级并发访问；高可靠，毫秒级延时的消息服务；并队列吞吐量可达上万/秒；完美支撑历年双11海量请求，保障亿级订单同步零漏单。
                </p>
            </div>
        </div>
        <div class="row cols-3">
            <div class="col-md-12">
                <div class="grid-group">
                    
                    <div class="grid grid-1">
                        <a href="http://open.taobao.com/api/api_list.htm" title="REST API">
                                          <span class="step-1">
                                              <b>00</b>
                                              <span>REST API</span>
                                          </span>
                            <span class="step-2">高并发，低延时，日支撑百亿级访问</span>
                        </a>
                    </div>
                    
                    <div class="grid grid-2">
                        <a href="http://open.taobao.com/doc/detail.htm?id=101744" title="消息服务">
                                          <span class="step-1">
                                              <b>01</b>
                                              <span>消息服务</span>
                                          </span>
                            <span class="step-2">高可靠，毫秒级延时，单队列吞吐量可达上万条/秒</span>
                        </a>
                    </div>
                    
                    <div class="grid grid-3">
                        <a href="http://open.taobao.com/doc2/detail.htm?treeId=1&amp;articleId=103784&amp;docType=1" title="SPI服务">
                                          <span class="step-1">
                                              <b>02</b>
                                              <span>SPI服务</span>
                                          </span>
                            <span class="step-2">支持外部服务商提供接口，连接与输出第三方能力</span>
                        </a>
                    </div>
                    
                    <div class="grid grid-4">
                        <a href="http://open.taobao.com/doc2/detail.htm?treeId=1&amp;articleId=104350&amp;docType=1" title="批量API">
                                          <span class="step-1">
                                              <b>03</b>
                                              <span>批量API</span>
                                          </span>
                            <span class="step-2">支持API批量调用，减少网络开销，提高性能</span>
                        </a>
                    </div>
                    
                    <div class="grid grid-5">
                        <a href="http://open.taobao.com/doc/detail.htm?id=101587" title="数据推送">
                                          <span class="step-1">
                                              <b>04</b>
                                              <span>数据推送</span>
                                          </span>
                            <span class="step-2">秒级响应，保障亿级订单同步零漏单</span>
                        </a>
                    </div>
                    
                    <div class="grid grid-6">
                        <a href="http://open.taobao.com/doc/detail.htm?id=102635" title="淘宝登陆">
                                          <span class="step-1">
                                              <b>05</b>
                                              <span>淘宝登陆</span>
                                          </span>
                            <span class="step-2">减少用户注册成本，打通海量阿里用户资源</span>
                        </a>
                    </div>
                    
                    <div class="grid grid-7">
                        <a href="http://open.taobao.com/doc/detail.htm?id=101644" title="沙箱环境">
                                          <span class="step-1">
                                              <b>06</b>
                                              <span>沙箱环境</span>
                                          </span>
                            <span class="step-2">数据独立，支撑开放业务功能测试需求</span>
                        </a>
                    </div>
                    
                    <div class="grid grid-8">
                        <a href="http://open.taobao.com/doc/detail.htm?id=101618" title="多语言SDK">
                                          <span class="step-1">
                                              <b>07</b>
                                              <span>多语言SDK</span>
                                          </span>
                            <span class="step-2">统一封装请求，支持多开发语言</span>
                        </a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div> <!-- fluid end-->


<div class="foot-nav">
	<p><strong>  </strong></p>
</div>					
					
</body>

</html>